<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

<select id="mySelect">
<option value="1">one</option>
<option value="2" selected="selected">two</option>
<option value="3">three</option>
</select>

<script language="javascript" type="text/javascript">
$(document).ready(function(){
$('#mySelect').onchange(function(){
var p1=$(this).children('option:selected').val();//这就是selected的值
var p2=$('#param2').val();//获取本页面其他标签的值
window.alert("aaaaaaa")
})
})
</script>


<input type="text" value="ooo" name="param2" id="param2"/>
</body>
</html>